* {
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../assets/images/fondo3.jpg");
}

/*Header*/
.textHeader {
  background-color: #6ad2f3;
  color: #fff;
  text-align: center;
}

/*Section*/
#container {
  margin: 15px auto;
  max-width: 900px;
  overflow: auto;
}

.box-form, .box-info {
  background-color: #fff;
  min-width: 445px;  
}

.box-form {
  float: right;
}

.box-form textarea {
  border: none;
  border-bottom: 1px solid #d6dadc;
  font-size: 1.2em;
  margin: 10px;
  resize: none;
  width: 424px;
}

.box-info {
  float: left;
  text-align: left;
}

.box-info h2 {
  margin: 20px 25px;
}

.box-info p:nth-child(2) {
  margin: 0 20px 20px;
}

.box-info p:last-child {
  color: #004080;
  font-weight: bold;
  margin: 20px 25px;
}

.btn {
  background-color:  #6ad2f3;
  border: none;
  color: #fff;
  float: left;
  font-weight: 500;
  margin-left: 10px;
  padding: 10px 25px;
}

.button-counter p {
  float: right;
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px
}

.text-color {
  color:  #000;
}

.text-color-120 {
  color: #feae22;
}

.text-color-130 {
  color:  #e0245e;
}

.posts {
  background-color: #fff;
  font-size: 1.2em;
  margin: 15px auto;
  max-width: 900px;
  padding: 20px;
}